<div class="section-header">
  <div class="sidebar">
    <div class="sidebar-brand">Cine<span>TEC</span></div>
    <div class="sidebar-section-label">Menú</div>

    <a class="nav-link-single" routerLink="/cliente">
      Boletería
    </a>

    <a class="nav-link-single" routerLink="/cartelera">
      🎬 Cartelera
    </a>
  </div>

  <h2>Cartelera</h2>
  <!-- <p>{{ selectedCinema() }} — Películas en cartelera</p> -->
</div>

@if (loadingMovies()) {
<div class="loading-dots">
  <span></span><span></span><span></span>
</div>
} @else {
<div class="movies-grid">
  @for (m of movies(); track m) {
  <div class="movie-card">
    <div class="movie-poster">{{ posterInitials(m.commercialName) }}</div>
    <div class="movie-info">
      <div class="movie-title">{{ m.commercialName }}</div>
      <div class="movie-meta">{{ m.duration }} min · {{ m.director }}</div>
      <span class="badge">{{ m.rating }}</span>
    </div>
  </div>
  }
</div>
}